*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    }
    :root{
    --dark-blue:hsl(233, 26%, 24%);
    --grayish-blue:hsl(233, 8%, 62%);
    --light-gray:hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    }
    
    main{
    width: 100%;
    height: 80vh;
    }
    
    main .articles{
    width: 100%;
    height: 100%;
    border: 2px solid tomato;
    }
    main .articles .container{
    width: 80%;
    border: 2px solid teal;
    margin: auto;
    height: 100%;
    }

    main .articles .title{
    font-size: 2rem;
    }
    
    main .articles .container .small{
    border: 2px solid green;
    height: 20%;
    }
    
    main .articles .container .container-flex{
    border: 2px solid blue;
    height: 80%;
    display:flex;
    }
    main .articles .container .container-flex > div{
    width: 25%;
    border: 2px solid gold;
    display: flex;
    flex-direction: column;
    }
    .container-flex .image{
    height: 50%;
    border: 2px solid brown;
    }
    .container-flex .image img{
    width: 100%;
    height: 100%;
    }
    
    .container-flex .texts{
    height: 50%;
    border:2px solid orangered;
    }