
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
 
 /*  Primary */
   --Dark-Blue : hsl(233, 26%, 24%);
   --Lime-Green: hsl(136, 65%, 51%);
   --Bright-Cyan: hsl(192, 70%, 51%);
     
   /* Neutral */
 --Grayish-Blue: hsl(220, 16%, 96%);
 --Light-Grayish-Blue: hsl(0, 0%, 98%);
 --Very-Light-Gray: hsl(0, 0%, 98%);
 --White: hsl(0, 0%, 100%);
 
 
   /* Font */
   --Font-size: 18px;
   --font-fam: "Public Sans", sans-serif;
  --weight3:300;
  --weight4:400;
  --weight7:700;
 }
 main{
overflow: hidden;
/* max-width: 1440px; */
z-index: 20;
}

main .hero{
  background: linear-gradient(to bottom, var(--Light-Grayish-Blue), var(--White) );
  font-size: var(--Font-size);
  font-family: var(--font-fam); 
  
}


main .hero .container{
  
 padding-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../IMG/bg-intro-desktop.svg)  no-repeat;
  background-position-y:-300px;
  background-position-x:500px;
  background-size: cover;
  height: 700px;
  overflow: visible;
}

main .container img{
  margin-right: -100px;
  z-index: 8;
}

main .container .text-content{
  width: 35%;
}
main .container .text-content .text{
  display: flex;
  width: 100%;
  flex-direction: column;
 justify-content: space-between;
 align-items: flex-start;
 height: 50%;
}
main .container .text-content .text h1{
  color: var(--Dark-Blue);
  font-weight: var(--weight4);
  line-height: 1.2;
}

main .hero .container .text-content .text p{
  padding: 20px 0px;
  color: var(--Dark-Blue);
   font-size: var(--Font-size);
   font-weight: var(--weight3);
   color: #9698a6;
}
main .hero .container .text-content .text a{
  display: inline-block;
  background: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
  color: var(--White);
  padding:15px 20px;
  border-radius: 30px;
  text-decoration: none;
  border: 20px;
  margin-top: 10px;
  /* opacity: 1; */
}
main .hero .container .text-content .text a:hover{
  opacity: 0.5;
}

@media (max-width:884px){

  main{
    overflow: hidden;
  }

  main .hero{

    top: 78px;
    overflow: hidden;
    z-index: 1;



  }
  main .hero .container{
    background: url(../IMG/bg-intro-desktop.svg)  no-repeat right;
   background-size: 700px;
   margin-right: -250px;
   background-position-y: -50px;
   height: 400px;
  
  }
  main .hero .container img{
    /* position: absolute; */
    margin-bottom: 10px;
    width: 50%;
    z-index: 0;

  }


}
@media (max-width:780px){

  main{
    overflow: hidden;
    max-width: 100%;
     }
  
     
    main .hero .container{
      padding: 20px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      background: url(../IMG/bg-intro-mobile.svg)  no-repeat top center/cover;
      background-position-y: -300px;
      overflow: visible;
      margin-right: 0;
      height: 700px;
    }
    
    
    main .hero .container img{
   width: 100%;
    margin: auto;
    margin-top: -100px;
    }
    main .hero .container .text-content{
      margin-top: 30px;
      width: 100%;
      margin: auto;
   
      padding-bottom: 40px;
    }
    main .hero .container .text-content .text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin: auto;
  
    }

    main .hero .container .text-content .text h1{
      margin-top: 40px;
    }
    main .hero .container .text-content .text p{
     text-align: center;

    }

}

@media (max-width:375px) {
 
  main{
    overflow: hidden;
    max-width: 100%;
     }
  
     
    main .hero .container{
    
      padding: 20px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      background: url(../IMG/bg-intro-mobile.svg)  no-repeat top center/cover;
      overflow: visible;
      margin-right: 0;
      height: 1000px;
      background-position-y: -300px;
    }
    
    
    main .hero .container img{
   width: 100%;
    margin: auto;
    margin-top: -140px;
    }
    main .hero .container .text-content{
      margin-top: 50px;
      width: 100%;
      margin: auto;
   
      padding-bottom: 40px;
    }
    main .hero .container .text-content .text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin: auto;
    }

    main .hero .container .text-content .text h1{
      margin-top: 20px;
    }
    main .hero .container .text-content .text p{
     text-align: center;

    }
  }